body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

main {
    text-align: center;
    margin: 20px;
}

.diet-plan {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e7f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.select-plan {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #008080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.select-plan:hover {
    background-color: #005f5f;
}

.selected {
    background-color: #4CAF50 !important;
    pointer-events: none;
}
